/*------------------------------- CSS RESET--------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default margin and padding */
body,
h1,
h2,

h4,

figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------- GENERAL STYLE --------------------------------*/

body{
    background-color: hsl(30, 38%, 92%);
    margin: 100px auto;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 80%;
    max-width: 375px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
}

h1{
    font-family: 'Fraunces', serif;
    font-weigt: 700;
    line-height: 1.0;
}

.details{
    padding: 25px;
}

.details > p:first-child  {
    letter-spacing: 6.5px;
    padding: 0px;
    margin: 0px;
}
.hero1{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.hero2{
    display:none;
}
.num_flex{
    display:flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}

.btn{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
   
    text-align: center;
    margin: 5px 0;    
}

.cart-img, .cart{
    display: inline-block;
}


.num{
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 40px;
    font-family: 'Fraunces', serif;
}

.discount{    
    text-decoration: line-through; 
    color: hsl(228, 12%, 48%);

}

p{
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}
.cart > h5 {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin:0;
    padding:0;
}

.attribution{
    margin: 5px;
}

@media (min-width: 1440px){

    body{
        margin: 200px auto;
    
    }
    .hero1{
        display: none;
      }
   
      .hero2{
        display: block;
        width: 100%;
        border-radius: 10px 0 0 10px;
      }

    .container{
        display:grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 450px;
        height: 100%;   



        max-width: 1440px;
        width: 600px;
        border-radius: 10px;
        margin: 0 auto;
        background-color: hsl(0, 0%, 100%);
    }
    .details{
        width: 100%;
      
    }

    .num_flex{
               
        width: 100%;
    }
    .btn{
        margin: 0;
    }
    

   

}